/build
/bin
desktop/bin/*
examples/black-hand-tattoos-egodesigns.jpg
art/squirrel/ramp.png
art/objects/ramp.PNG
art/squirrel/squirrel_snip.png
demo.png
examples/crowded_room.gif
examples/drawing_foliage.png
examples/map-maker mockup.png
art/ramp.PNG
examples/Monster-squirrel.png
